.card {width:49%;margin-left: 6px;}
.card-header i {float:right;}
.fa-trash, .fa-pencil-alt {cursor: pointer;}
.hidden {display:none}
.swatch {width:40px; height:40px; float:left; margin-right:20px; border-radius: 40%; cursor: pointer; }
.swatch:hover, .active  {border: 3px solid rgb(88, 106, 147)}

